#content{
  height: 130vh;
  position: relative;
  background-color: var(--light);
}

#contentIcon{
  width: 100%;
}

#icon{
  color: var(--accent-green);
  width: 100px;
  margin: auto;
}

#title{
  font-size: var(--ft_subTitle);
  font-family: var(--title);
  color: var(--textBackGround);
}

#labelForRol{
    color: var(--textBackGround);
    margin-bottom: 1vh;
    font-size: var(--ft_labels);
    font-family: var(--roboto);
    width: 100%;
}

.radio{
    /* Ocultar los radio buttons por defecto */
  display: none;
}


.labelRadio{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    cursor: pointer;
    background-color: var(--backGround);
    color: var(--accent-green);
    text-align: center;
    border-radius: 20px;
    height: 3rem;
    box-shadow: 0px 2px 2px var(--backGround);
    font-family: var(--textNunito);
    font-size: var(--ft_labels);
    transition: all 0.2s ease;
    width: 100%;
  }
  
  .radio:checked + .labelRadio{
      color: var(--light);
      background-color: var(--accent-green); /* Cambiar el color del texto cuando está seleccionado */
      box-shadow: 0px 2px 10px var(--accent-green);
  }

  #radiogroupDificultad{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding-bottom: 3vh;
  }


  #form{
    background-color: var(--light);
    border-radius: 20px;
    width: 80%;
    height: 100%;
    font-family: var(--roboto);
}

#horariosBtn{
  margin-top: 2vh;
  width: 60%;
  border-radius: 20px ;
  height: 5vh;
  border: none;
  background-color: var(--backGround);
  box-shadow: 0px 2px 2px var(--backGround);
  color: var(--accent-green);
  font-size: 1.5rem;
  transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);
}

#crearBtn{
  width: 60%;
  border-radius: 20px ;
  height: 5vh;
  background-color: var(--accent-green);
  border: 1px solid var(--backGround);
  box-shadow: 0px 2px 2px var(--backGround);
  color: var(--backGround);
  font-size: 1.5rem;
  transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);
}

#crearBtn:hover, #horariosBtn:hover{
  width: 70%;
  border-radius: 2px ;
  height: 6vh;
  background-color: var(--accent-green);
  box-shadow: 0px 2px 2px var(--accent-green);
  color: var(--backGround);
  font-size: 1.7rem;
}


@media screen and (min-width: 1200px ) {
  #form{
      width: 40vw;
  }
}

@media screen and (max-width: 767px){

  #content{
    height: 180vh;
  }
  #form{
      width: 95vw;
  }

  #labelForRol{
    font-size: var(--ft_mobile_labels);
}

  #radiogroupDificultad{
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3vh;
  }

  .labelRadio{
    margin-bottom: 5px;
    font-size: var(--ft_mobile_labels);
  }

  #iniciarBtn{
      font-size: 1.2rem ;
  }

  #iniciarBtn:hover{
      font-size: 1.4rem;
  }

  #registrarseBtn{
      font-size: 1.2rem ;
      width: 90%;
  }

  #registrarseBtn:hover{
      font-size: 1.4rem;
  }

  #formDiv{
      width: 90%;
  }
}
