#content{
    position: relative;
    background-color: var(--light);

}


#iconBigDiv{
  display: flex;
  height: 10vh;
  width: 100%;
  justify-content: center;
}

#titleIcon{
  color: var(--accent-green);
  width: 100px;
}
#icon{
    color: var(--accent-green);
    width: 100px;
}

#title{
    font-size: var(--ft_subTitle);
    font-family: var(--title);
    color: var(--textBackGround);
}

.subtitle{
    margin-top: 2vh;
    padding-left: 2%;
    font-size: var(--ft_sub_subTitle);
    font-family: var(--subtitles);
    color: var(--textBackGround);
}

#agregarEntrenamientoDiv{
  position: absolute;
  top: 15%;
  right: 10%;
  width: 20%;
  height: 5vh;
}
#agregarEntrenamientoBtn{
  width: 95%;
  height: 95%;
  border-radius: 5px;
  border: none;
  background-color: var(--accent-green);
  color: var(--darker);
  font-size: var(--ft_btns);
  font-family: var(--subtitles);
  box-shadow: 0px 2px 2px var(--backGround);
  transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);

}

#addIcon{
  width: 20px;
}

#agregarEntrenamientoBtn:hover{
  width: 100%;
  height: 100%;
  border-radius: 2px;
  border-left: 20px solid var(--backGround);
}

#firstSection{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

#fsFirstElement{
  margin: 2px;
  height: 90%;
  background-color: var(--backGround);
  width: 20vw;
  border-radius: 2px;
}

#fsSecondElement{
  margin: 2px;
  height: 90%;
  background-color: var(--backGround);
  width: 65%;
  border-radius: 2px;
}

#misEntrenamientosSection{
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-gap: 10px;
  margin-top: 3vh;
}

@media screen and (max-width: 767px){
    .subtitle{
        text-align: center;
    } 

    #agregarEntrenamientoDiv{
      position: static;
      width: 100vw;
      height: 5vh;
    }


    #agregarEntrenamientoBtn{
      width: 50%;
      height: 95%;
      border-radius: 5px;
      font-size: var(--ft_btns);
      font-family: var(--subtitles);
      box-shadow: 0px 2px 2px var(--backGround);
      transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    
    #agregarEntrenamientoBtn:hover{
      width: 60%;
      height: 100%;
      border-radius: 2px;
      border-left: 20px solid var(--backGround);
    }
}