#inputDiv{
    color: var(--backGround);
    margin-bottom: 1vh;
    font-size: 1.2rem;
    font-family: var(--roboto);
}

#input{
    outline: none;
    font-family: var(--roboto);
    border: 1px solid var(--backGround);
    transition: all 0.2s ease ;
    border-radius: 2px;
    color: var(--backGround);
    padding-left: 0.5rem;
}

#input:focus{
    outline: 1px solid var(--accent-green);
    border: none;
    font-size: 1.4rem;
    border-radius: 2px;
}


/* Estilos para pantallas más pequeñas, como dispositivos móviles */
@media (max-width: 767px) {
    #inputDiv{
        
    }

    
    /* Estilos para pantallas de hasta 767px de ancho */
  }