

#loginComponent{
    background-color: var(--backGround);
    height: 100vh;
    position: relative;
}

#mainContent{
    position: relative;
    top: 10%;
}

#logo{
    background-color: var(--backGround);
}
#content{
    border-radius: 20px;
    box-shadow: 0px 2px 20px ;
    height: 60vh;
    width: 80vw;
    background-color: var(--light);
}




#contentTitle{
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
    font-family: var(--title);
    font-weight: 100;
    font-size: 3rem;
    color: var(--backGround);
}
#formDiv{
    background-color: var(--light);
    height: 60%;
    width: 70%;
    margin: auto;
}

#form{
    background-color: var(--light);
    border-radius: 20px;
    width: 100%;
    height: 100%;
    font-family: var(--roboto);
}

#iniciarBtn{
    background-color: var(--accent-green);
    border: none;
    border-radius: 20px;
    height: 4vh;
    color: var(--light);
    font-size: 1.4em;
    box-shadow: 0px 2px 2px var(--backGround);
    width: 100%;
    outline: none;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) ;
}



#iniciarBtn:hover{
    box-shadow: 0px 2px 10px var(--accent-green);
    font-size: 1.7rem;
    height: 6vh;
}

#registrarseBtn{
    width: 70%;
    background-color: var(--backGround);
    border-radius: 20px;
    height: 4vh;
    border: none;
    color: var(--light);
    font-size: 1.4em;
    box-shadow: 0px 2px 2px var(--backGround);
    outline: none;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) ;
}

#registrarseBtn:hover{
    box-shadow: 0px 2px 10px var(--backGround);
    background-color: var(--light);
    font-size: 1.7rem;
    height: 6vh;
    color: var(--backGround);
}



@media screen and (min-width: 1200px) {
    #content{
        width: 40vw;
    }
}

@media screen and (max-width: 767px){

    #content{
        width: 95vw;
    }

    #iniciarBtn{
        font-size: 1.2rem ;
    }

    #iniciarBtn:hover{
        font-size: 1.4rem;
    }

    #registrarseBtn{
        font-size: 1.2rem ;
        width: 90%;
    }

    #registrarseBtn:hover{
        font-size: 1.4rem;
    }

    #formDiv{
        width: 90%;
    }
}


