#NavBar{
    position: sticky;
    top: 0;
    background-color: var(--backGround);
    height: 5vh;
    box-shadow: 0 2px 4px var(--backGround);
}

#title{
    padding-left: 2%;
    position: relative;
    top: 12%;
    color: var(--light);
    font-family: var(--title);
    font-weight: 100;
}

#loginBtn{
    height: 4vh;
    width: 45%;
    border-radius: 2px;
    border: none;
    background-color: var(--accent-green);
    color: var(--light);
    font-family: var(--textRoboto);
    box-shadow: none;

    transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}

#loginBtn:hover{
    box-shadow: 0px 2px 20px var(--accent-green);
    width: 48%;
}

#logupBtn{
    width: 45%;
    height: 4vh;
    color: var(--light);
    font-family: var(--textRoboto);
    background-color: var(--backGround);
    border-radius: 2px;
    border: 1px solid var(--light);
    box-shadow: none;

    transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}

#logupBtn:hover{
    box-shadow: 0px 2px 20px var(--light);
    background-color: var(--light);
    color: var(--backGround);
    width: 48%;
}