#NavBar{
    position: sticky;
    top: 0;
    z-index: 4500;
    background-color: var(--backGround);
    height: 5vh;
    box-shadow: 0 2px 4px var(--backGround);
}

#title{
    padding-left: 2%;
    position: relative;
    top: 12%;
    color: var(--textLight);
    font-family: var(--title);
    font-weight: 100;
}



#navBarDiv{
    width: 35vw;
    margin-top: 1%;
}



#loginBtn{
    height: 4vh;
    width: 48%;
    border-radius: 2px;
    background-color: var(--backGround);
    border: 1px solid var(--accent-green);
    color: var(--textLight);
    font-family: var(--textRoboto);
    box-shadow: none;
    text-align: center;
    flex-wrap: wrap;
    transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}

#loginBtn:hover{
    box-shadow: 0px 2px 20px var(--accent-green);
    width: 50%;
}

#logupBtn{
    width: 48%;
    height: 4vh;
    color: var(--textLight);
    font-family: var(--textRoboto);
    background-color: var(--backGround);
    border-radius: 2px;
    border: 1px solid var(--textLight);
    box-shadow: none;
    transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}

#logupBtn:hover{
    box-shadow: 0px 2px 20px var(--textLight);
    background-color: var(--light);
    color: var(--textBackGround);
    width: 50%;
}

#logoutBtn{
    width: 48%;
    height: 4vh;
    color: var(--textLight);
    font-family: var(--textRoboto);
    background-color: var(--backGround);
    border-radius: 2px;
    border: 1px solid var(--textLight);
    box-shadow: none;
    transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}

#logoutBtn:hover{
    box-shadow: 0px 2px 20px var(--light);
    background-color: var(--backGround);
    color: var(--accent-green);
    width: 50%;
}

#togglebtn{
    display: none;
    
}

#divNavResponsive{
    height: 0vh;
    transition: all 0.2s ease;
}

#accesibilityBtn{
    position: absolute;
    right: 5%;
    top: 8vh;
    width: 80px;
    border: 1px solid var(--accent-green);
    border-radius: 12px;
    background-color: var(--backGround);
    color: var(--accent-green);
    box-shadow: 0px 2px 4px var(--darker);
    transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    font-size: 0;
}

#iconAccesibility{
    width: 30px;
}
#accesibilityBtn:hover{
    box-shadow: 0px 4px 8px var(--accent-green);
    color: var(--backGround);
    background-color: var(--accent-green);
}

.btnResponsive{
    display: none;
}

@media screen and (max-width: 768px){
    #navDiv{
        position: absolute;
        width: 100vw;
    }
    
    .btn{
        display: none;
    }

    #togglebtn{
        height: 5vh;
        width: 40px;
        background-color: var(--backGround);
        border:none;
        color: var(--textLight);
        display: block;
        cursor: pointer;
        position: absolute;
        right: 2%;
        top: 1%;
    }
    #divNavResponsive{
        height: 100vh;
        width: 100vw;
        top: 5vh;
        left: 0;
        position: absolute;
        background-color: var(--backGround);
        display: flex;
        flex-direction: column;
        transition: all 0.2s ease;
    }
    .btnResponsive{
       display: block;
       background-color: var(--backGround);
       padding: 4%;
       border: 1px solid var(--light);
       color: var(--accent-green);
       border-radius: 5px;
       margin-top: 5px;
       width: 90%;
       margin-left: auto;
       margin-right: auto;
       font-size: 1.6rem;
       font-family: var(--title);
       transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    .btnResponsive:hover{
        box-shadow: 0px 2px 4px var(--accent-green);
        background-color: var(--accent-green);
        border-color: var(--accent-green);
        color: var(--darker);
    }
    #accesibilityBtn{
        left: 5%;
        top: 15vh;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        border: 1px solid var(--accent-green);
    }

}