
#bigDiv{
    width: 100vw;
    background-color: var(--backGround);
    height: 4vh;
    display: flex;
    justify-content: start;
    align-items: end;
}

.navDiv{
    width: 15%;
    height: 3vh;
    font-family: var(--textRoboto);
    font-size: var(--ft_labels);
}

.btnNav{
    background-color: var(--backGround);
    color: var(--textLight);
    border: none;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    height: 3vh;
    width: 100%;
    border-radius: 2px;
}

.btnNavActive{
    background-color: var(--accent-green);
    color: var(--backGround);
}

.btnNav:hover{
    background-color: var(--accent-green);
    width: 110%;
    border-radius: 1px;
    text-align: center;
    box-shadow: 0px 2px 3px var(--accent-green);
    position: relative;
    z-index: 500;
}


@media screen and (max-width: 768px){
    #bigDiv{
        justify-content: space-between;
        height: 5vh;
    }

    .navDiv{
        width: 25%;
        height: 5vh;
        font-family: var(--textRoboto);
        font-size: var(--ft_mobile_labels);
        align-items: center;
    }

    .btnNav{
        height: 100%;
    }
}
