#popupDiv{
    position: absolute;
    bottom: 5%;
    width: 100vw;
    height: 7vh;
    
}

#popupCartel{
    margin: auto;
    background-color: #F01F23;
    width: 80%;
    height:  100%;
    border-radius: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#text{
    text-align: center;
    color: var(--textLight);
    font-size: var(--ft_sub_subTitle);
}

#barraAchicandose{
    position: absolute;
    top: 0;
    right: 0%;
    color: var(--light);
    z-index: 50;

    transition: all 0.1s cubic-bezier(0.19, 1, 0.22, 1);
}

#closeBtn{
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background-color: #F01F23;
    color: var(--light);
}