.user{
    display: flex;
    justify-content: space-around;
}

#userName{
    width: 60%;
}

#userContent{
    width: 90%;
    background-color: var(--accent-green);
    height: 15%;
    border-radius: 10px;
    margin: auto;
    display: flex;
    align-items: center;
    
    padding-left: 2%;
    font-family: var(--textNunito);
    font-size: var(--ft_btns);
    color: var(--darker);
}

#notUser{
    width: 90%;
    background-color: var(--light);
    height: 15%;
    border-radius: 10px;
    margin: auto;
    display: flex;
    align-items: center;
    margin-top: 2px;
    padding-left: 2%;
    font-family: var(--textNunito);
    font-size: var(--ft_btns);
    color: var(--backGround);
}

#kickBtn{
    background-color: #F01F23;
    border-radius: 10px;
    border: none;
    color: var(--light);
    box-shadow: 0px 1px 2px var(--backGround);
    transition: all 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#kickBtn:hover{
    box-shadow: 0px 2px 8px #F01F23;
    transform: translateY(2px);
}

#inviteBtn{
    background-color: var(--accent-green);
    border-radius: 10px;
    border: none;
    color: var(--darker);
    box-shadow: 0px 1px 2px var(--backGround);
    transition: all 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}

#inviteBtn:hover{
    box-shadow: 0px 2px 8px var(--accent-green);
    transform: translateY(2px);
}

#iconQuit{
    width: 20px;
}

#iconInvite{
    width: 20px;
}
